img[alt~="@20%"] {zoom: 20%;}
img[alt~="@25%"] {zoom: 25%;}
img[alt~="@33%"] {zoom: 33%;}
img[alt~="@40%"] {zoom: 40%;}
img[alt~="@50%"] {zoom: 50%;}
img[alt~="@60%"] {zoom: 60%;}
img[alt~="@66%"] {zoom: 66%;}
img[alt~="@75%"] {zoom: 75%;}
img[alt~="@80%"] {zoom: 80%;}